<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restoran Melati</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="home">
        <img src="images/logo/logo-melati.png" alt="Logo Restoran Melati" class="home-logo">
        <a href="index.html" class="home-link">Melati</a>
      </div>
      <div class="hamburger">
        <a href="#" id="hamburger">&#9776;</a>
      </div>
    </header>
    <nav id="drawer" class="navbar">
      <ul class="navbar-item">
        <li>Home</li>
        <li>Favourite</li>
        <li>About Us</li>
      </ul>
    </nav>
  </div>
  <main>
    <h1>Hello World!</h1>
  </main>
  </body>
</html>
