<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restoran Melati</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="home">
        <a href="index.html" class="home-link">
          <img src="images/logo/logo-melati.png" alt="Logo Restoran Melati" width="40">
          Melati
        </a>
      </div>
      <div class="hamburger">
        <a href="#" id="hamburger">&#9776;</a>
      </div>
    </header>
    <nav id="drawer" class="navbar">
      <ul class="navbar-item">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Favourite</a></li>
        <li><a href="https://laurinum.netlify.app">About Us</a></li>
      </ul>
    </nav>
  </div>
  <main>
    <!-- <div class="hero">
      <img src="images/heros/hero-image.jpg" alt="Sebuket bunga kuning, tiga lemon dan beberapa kukis" class="hero-image">
    </div> -->
  </main>
  <footer>
    <p>Copyright &copy; <span id="tahun">0000</span> oleh Restoran Melati</p>
  </footer>
  </body>
</html>
