<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Katalog Melati</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="home">
        <a href="index.html" class="home-link">
          <img src="images/logo/logo-katalog.png" alt="Logo Katalog Melati" width="35">
          Katalog Melati
        </a>
      </div>
      <div class="hamburger">
        <a href="#" id="hamburger">&#9776;</a>
      </div>
    </header>
    <nav id="drawer" class="navbar">
      <ul class="navbar-item">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Favourite</a></li>
        <li><a href="https://laurinum.netlify.app">About Us</a></li>
      </ul>
    </nav>
  </div>
  <main>
    <!-- <div class="hero">
      <img src="images/heros/hero-image.jpg" alt="Sebuket bunga kuning, tiga lemon dan beberapa kukis" class="hero-image">
    </div> -->
    <section>
      <header class="judul-daftar">
        <h2>
          Daftar Restoran
        </h2>
        <p>Berikut adalah daftar restoran yang merupakan partner kami.</p>
      </header>
      <div class="cards">
        <div class="card">
          <div class="card-img" id="card-img"></div>
          <p class="card-rate" id="card-rate"></p>
          <p class="card-nama" id="card-nama"></p>
          <p class="card-kota" id="card-kota"></p>
          <p class="card-desc" id="card-desc"></p>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <p>Copyright &copy; <span id="tahun">0000</span> oleh Katalog Melati</p>
  </footer>
  </body>
</html>
