:root {
  --cont-w: 10px;
  --cont-d: 50px;
  --cont-rs: 13px;
  --cont-rx: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui,-apple-system,"Segoe UI",
  Roboto,"Helvetica Neue",
  "Noto Sans","Liberation Sans",
  Arial,sans-serif,"Apple Color Emoji",
  "Segoe UI Emoji","Segoe UI Symbol",
  "Noto Color Emoji";
  color: #DDDDDD;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

a:hover {
  color: #dddddd;
}

a:active {
  color: #cccccc;
}

body {
  background-color: #DDDDDD;
}

h1, h2 {
  margin-bottom: 10px;
}

p, restaurant-text {
  font-size: 13px;
  overflow-wrap: break-word;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  min-height: calc(100vh - (75px * 2));
}

section {
  margin: 20px;
}

section * {
  color: #244660;
}

section.hero {
  position: relative;
  height: 500px;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #244660;
  padding: 27.5px;
  text-align: center;
}

hr {
  border: 1.25px solid #dddddd;
  background-color: #dddddd;
}

restaurant-card, restaurant-image, restaurant-description {
  display: block;
}

.skip {
  color: #28385E;
  position: absolute;
  background-color: #DDDDDD;
  padding: 5px;
  font-size: 15px;
}

.skip:focus {
  z-index: 1;
}
.skip:hover {
  background-color: #28385E;
  color: #dddddd;
}

.container {
  padding: var(--cont-w);
  position: relative;
  background-color: #244660;
}

.home {
  display: flex;
  align-items: center;
}

.home-link {
  padding: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-link img{
  margin-right: 15px;
}

.hamburger {
  font-size: 21px;
}

.hamburger a {
  padding: 18px;
}

.navbar {
  margin-left: calc(-1 * var(--cont-w));
  position: absolute;
  transform: translate(-100%, 0);
  width: 100%;
  background-color: #244660;
  transition: transform 0.35s ease-in-out;
}

.navbar-open {
  transform: translate(0, 0);
  position: absolute;
  z-index: 10;
}

.navbar-item {
  list-style: none;
  text-align: center;
}

.navbar-item > * {
  margin: 60px 0;
}

.navbar-item a {
  font-size: 16px;
  padding: 22px 80px;
}

.hero-img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.hero-img img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.hero-latar {
  background-color: #161f2c54;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-latar * {
  color: #eeeeee;
}

.hero-latar h1 {
  padding: 0 20px;
  font-size: 23px;
}

.hero-latar p {
  font-size: 15px;
  padding: 0 20px;
  overflow-wrap: break-word;
}

.judul-daftar {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.judul-daftar h2 {
  padding: 0 20px;
  font-size: 21px;
}

.judul-daftar p {
  padding: 0 20px;
  overflow-wrap: break-word;
}

.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.content-detail {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 0;
  display: block;
  padding: 0;
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 3.5px;
  transition: background-color 0.15s ease-in-out;
}

.content-detail img {
  height: 200px;
  object-fit: cover;
  margin-bottom: 30px;
  border-radius: 2.5px;
}

.content-detail p {
  font-size: var(--cont-rs);
  margin-bottom: 10px;
  text-align: justify;
  overflow-wrap: break-word;
}

.content-detail p:first-child {
  margin-top: 30px;
}

.content-detail p:last-child {
  margin-bottom: 0;
}

.content-detail li {
  margin-left: 20px;
  font-size: var(--cont-rs);
}

.card {
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 3.5px;
  margin-bottom: 15px;
  transition: background-color 0.15s ease-in-out;
}

.card:hover {
  background-color: #cccccc;  
  cursor: pointer;
}

.card:active {
  background-color: #bbbbbb;  
}

.card:last-child {
  margin-bottom: 0;
}

.card img {
  border-radius: 3.5px;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.skeleton-image {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  background-color: #dddddd;
}

.card restaurant-text {
  margin-bottom: 5px;
}

.card restaurant-text:last-child {
  margin-bottom: 0;
}

.review {
  background-color: #e3e3e3;
  padding: 20px;
  margin-bottom: 10px;
}

.review:first-child {
  margin-top: 10px;
}

.review-header {
  display: flex;
  justify-content: space-between;
}

.review div.review-header p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

.review-body p {
  text-align: justify;
  overflow-wrap: break-word;
}

.input-review * {
  width: 100%;
  margin-top: 10px;
  height: 30px;
  font-size: var(--cont-rs);
}

.input-review .input-name {
  margin-top: 0;
  padding: 20px;
  background-color: #e3e3e3;
  border: 0;
}

.input-review textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 150px;
  padding: 20px;
  background-color: #e3e3e3;
  border: 0;
}

.input-review button {
  background-color: #244660;
  border: 0;
  color: #DDDDDD;
  height: 35px;
  transition: background-color 0.15s ease-in-out;
}

.input-review button:hover {
  background-color: #3e536d;
  cursor: pointer;
}

.input-review button:active {
  background-color: #34465c;
}

.hr-review {
  margin-top: 30px;
  margin-bottom: 30px;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c3c3c3;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  cursor: pointer;
}

.like .fa {
  color: rgb(160, 0, 0);
}

.skeleton-image-detail {
  margin-bottom: 30px;
  height: 250px;
}

.lazy-skeleton {
  background-color: #dddddd;
  height: 500px;
  display: block;
}

@media screen and (min-width: 600px) {
  .home-link img{
    width: 35px;
  }

  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:last-child {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 750px) {
  p, restaurant-text {
    font-size: 16px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--cont-d);
    padding-right: var(--cont-d);
  }

  .home-link {
    font-size: 20px;
  }
  
  .hamburger {
    display: none;
  }

  .navbar {
    margin-top: initial;
    margin-left: initial;
    position: initial;
    transform: initial;
    width: initial;
    transition: initial;
  }

  .navbar-item {
    display: flex;
    text-align: initial;
  }

  .navbar-item > * {
    margin: 0;
    margin-left: 45px;
  }

  .navbar-item a {
    padding: 16px;
    margin: 0;
  }

  .hero-latar h1 {
    font-size: 40px;
  }

  .hero-latar p {
    font-size: 18px;
  }

  .judul-daftar h2 {
    font-size: 30px;
  }

  .judul-daftar p {
    font-size: 18px;
  }

  .content-detail img {
    height: 400px;
  }

  .content-detail p {
    font-size: var(--cont-rx);
  }

  .content-detail li {
    font-size: var(--cont-rx);
  }

  .input-review * {
    font-size: var(--cont-rx)
  }

  .skeleton-image-detail {
    margin-bottom: 30px;
    height: 400px;
  }

  .skip {
    font-size: 16px;
  }
}

@media screen and (min-width: 850px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}
