@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/PTSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/PTSans-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/PTSans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/PTSans-BoldItalic.ttf") format("ttf");
}

:root {
  --cont-w: 10px;
  --cont-d: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans";
  color: #DDDDDD;
}

a {
  text-decoration: none;
}

a:hover {
  color: #cccccc;
}

a:active {
  color: #aaaaaa;
}

body {
  background-color: #DDDDDD;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: var(--cont-w);
  position: relative;
  background-color: #516C8D;
}

.home {
  display: flex;
  align-items: center;
}

.home-link {
  padding: 10px;
  font-size: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-link img{
  margin-right: 15px;
}

.hamburger {
  font-size: 21px;
}

.hamburger a {
  padding: 18px;
}

.navbar {
  margin-left: calc(-1 * var(--cont-w));
  position: absolute;
  transform: translate(-100%, 0);
  width: 100%;
  background-color: #516C8D;
  transition: transform 0.35s ease-in-out;
}

.navbar-open {
  transform: translate(0, 0);
}

.navbar-item {
  list-style: none;
  text-align: center;
}

.navbar-item > * {
  margin: 60px 0;
}

.navbar-item a {
  font-size: 18px;
  padding: 22px 80px;
}

/* .hero {
  height: 500px;
  background-image: url(../assets/public/images/heros/hero-image.jpg);
  background-size: auto;
  background-position: center;
} */

main {
  min-height: calc(100vh - (75px * 2));
}

section {
  margin: 20px;
  padding: 20px 20px 0;
  background-color: #d6d6d6;
}

section * {
  color: #516C8D;
}

.judul-daftar {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  background-color: #bdbdbd;
  padding: 15px;
  border-radius: 3.5px;
  margin-bottom: 15px;
}

.card img {
  border-radius: 3.5px;
  border: 2px solid #a1a1a1;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card p {
  margin-bottom: 5px;
}

.card p:last-child {
  margin-bottom: 0;
}

footer {
  background-color: #516C8D;
  padding: 27.5px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--cont-d);
    padding-right: var(--cont-d);
  }
  
  .hamburger {
    display: none;
  }

  .navbar {
    margin-top: initial;
    margin-left: initial;
    position: initial;
    transform: initial;
    width: initial;
    transition: initial;
  }

  .navbar-item {
    display: flex;
    text-align: initial;
  }

  .navbar-item > * {
    margin: 0;
    margin-left: 45px;
  }

  .navbar-item a {
    padding: 10px;
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}